/* STYLE SECTIONING TAGS */
body {
 background-color: #6AB2E2; 
}

/* STYLE TEXT */
h1 {
  color: navy;
  text-align: center;
}
main{
  padding: 4px;
}
p {
  font-family: Georgia;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: darkcyan;
  margin-left: 80px;
  margin-right: 80px;
}

/* STYLE IMAGES */
#sophie {
  display: block;
  margin: auto;
  border-radius: 90%;
  border: 4px solid #3653FF;
  padding: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img {
  display: block;
  margin: auto;
  border-radius: 90%;
}
/* STYLE NAV BAR */
nav {
  text-align: center;
  font-family: verdana;
}
ul {
  list-style-type: none;
  background-color: cyan
}
li {
  display: inline-block;
  width: 60px;
  margin: auto;
}
li a:hover {
  background-color: darkcyan
}
/* STYLE VIDEOS */
video {
  display: block;
  margin: auto;
  border: 4px solid navy;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
